<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSM RECORDING</title>
</head>
<body>
    <h1>SSM Audio Recording</h1>
    <button onclick="window.location.href='/record.do'">녹화 시작</button>
    <button onclick="window.location.href='/upload.do'">파일 업로드</button>
    <button onclick="window.location.href='/transcribe2.do'">텍스트 저장2</button>
</body>
</html>