/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap');


body{
  background: #EDF2F9;
  margin:0;
}

.bold{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size:25px;
}
/*한글*/
.normal{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight:500;
  font-size:17px;
}

.welcome-text{
  color:#fff;
}

.welcome{
  text-align:center;
  color:#fff;
  position:absolute;
  height:50%;
  width:400px;
  z-index:30;
}

.hello{
  text-align:center;
  color:#fff;
  position:absolute;
  height:50%;
  right:0;
  width:400px;
  z-index:30;
  display:none;
}

.welcome-text{
  margin-top:100px;
}

.move{
  height:100%;
  position:absolute;
  width:400px;
  text-align:center;
  z-index:20;
  background-color:#447CF5;
  background-image:url("http://www.pixmy.tech/Projects/Codepen/SlideForm/bg.jpg");
  background-size:cover;
  background-position:left;
  transition:all .4s ease;
  border-radius: 10px 0px 0px 10px;
  
  box-shadow: 3px 10px 5px rgba(128, 128, 128, 0.096);
}

@keyframes moving{
  0%{width:400px;transform:translate(0px);}
  50%{width:550px;transform:translate(200px);}
  100%{width:400px;transform:translate(500px);}
}

@keyframes start{
  0%{width:400px;transform:translate(500px);}
  50%{width:550px;transform:translate(200px);}
  100%{width:400px;transform:translate(0px);}
}

@keyframes startForm{
  0%{width:500px;transform:translate(0px);}
  50%{width:650px;transform:translate(200px);}
  100%{width:500px;transform:translate(400px);}
}

@keyframes movingForm{
  0%{width:500px;transform:translate(400px);}
  50%{width:650px;transform:translate(200px);}
  100%{width:500px;transform:translate(0px);}
}

.moving{
  animation: moving .4s linear forwards;
  transition:all .4s ease-out;
}

.movingForm{
  animation: movingForm .4s linear forwards;
  transition:all .4s ease-out;
}

.start{
  animation: start .4s linear forwards;
  transition:all .4s ease-out;
}

.startForm{
  animation: startForm .4s linear forwards;
  transition:all .4s ease-out;
}

.p-button{
    animation-iteration-count:5;
  color:white;
  padding:12px 60px;
  color:#fff;
  font-size:14px;
  border-radius:25px;
  border:1px solid #fff;
  width:40%;
  position:absolute;
  left:0;
  right:0;
  margin: auto;
  top:60%;
  text-align:center;
  cursor:pointer;
  transition:all .4s ease;
}

.p-button:hover{
  transition:all .4s ease;
  background-color:rgba(0,0,0,.7);
}

h4{
  font-size:22px;
}

p{
  font-size:14px;
}

.container{
  height:450px;
  width:900px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.text{
  width:60%;
  line-height:20px;
  margin:0 auto;
}

.icon{
  width:30px;
  height:30px;
  border:1px solid lightgray;
  border-radius:50%;
  text-align:center;
  cursor:pointer;
  line-height:30px;
  display:inline-block;
}

.icon:hover{
  background-color:#0f121a;
  color:white;
}

.light{
  color:#b2bec3;
}

.icons{
  text-align:center;
  margin-bottom:20px;
}

.forgot{
  display:none;
}

.form{
  text-align:center;
  position:absolute;
  height:100%;
  transform:translate(400px);
  width:500px;
  background-color:#fff;
  border-radius:0px 10px 10px 0px;
  box-shadow: 3px 10px 5px rgba(128, 128, 128, 0.096);
}

input{
  border:0px;
  border-bottom:1px solid lightgray;
  margin-bottom:15px;
  padding: 8px 5px;
  width:60%;
}

.b-button{
  background-color:#0f121a;
  color:white;
  padding:5px 50px;
  color:#fff;
  font-size:20px;
  border-radius:25px;
}

