<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/login.css"rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="move">
      <div class="p-button normal signin animated pulse">SIGN IN</div>
    </div>
    <div class="welcome">
      <h4 class="bold welcome-text">Welcome Back!</h4>
      <p class="normal text">To keep connected with us please login with your personal info</p>
    </div>
    <div class="hello">
      <h4 class="bold welcome-text">Hello Friend</h4>
      <p class="normal text">Enter your personal details and start journey with us</p>
    </div>
    <div class="form">
      <br>
      <h4 class="bold title">그래프가 나와야되는 화면...입니다</h4>

      <p class="normal light">로그인 화면 아니에요</p>
      <br>
	      
	      <form method = "post" action="/logout.do">
	      <button class="b-button normal" type="submit" >로그아웃</button>
     	  </form>
    </div>
  </div>
  <script  src="../js/login.js"></script>
</body>
</html>