<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>contectList</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        ; $(function () {
            $('#sidebarToggle').trigger('click');
            $('#sidebarToggle').css({ 'display': 'none' });
        });

    </script>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/list.do">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SSM <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/list.do">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Live-Commerce</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Support
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/boardList.do">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Contect</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                My page
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>About</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="location.href='/logout.do'" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Logout</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" `>

            <!-- Main Content -->
            <div id="content" style="background-image: linear-gradient(-20deg, #4e4376 0%, #2b5876 100%);">
                <div class="container-fluid" style="padding-left: 3rem;
                padding-right: 3rem;">
                    <br>
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 20px 20px 0px 0px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding-left: 3rem;
                padding-right: 3rem;">
                    <div class="card" style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 0px 0px;overflow-x:hidden; width:100%; 
                        height:640px; border: 0px;">
                        <div>
                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>
                            </div>
                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">문의사항</h1>
                                <p class="mb-4">서비스에 대한 문의사항이나 개선사항을 남겨주세요. </p>
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4" style="overflow-x:hidden; width:100%; height:450px;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th style="width:140px; text-align: center;">기업명</th>
                                                        <th style="width:160px; text-align: center;">작성일자</th>
                                                        <th style="width:640px; text-align: center;">제목</th>
                                                        <th style="width:140px; text-align: center;">처리상태</th>
                                                        <th style="width:140px; text-align: center;">담당자</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="board : ${boardList}">
                                                        <td th:text="${board.usersVO.userCompany}" style="width:140px; text-align: center;"></td>
                                                        <td th:text="${#strings.substring(board.boardDate,0,10)}" style="width:140px; text-align:center;"></td>
                                                        <td style="width:140px; text-align: center;"><a th:href="@{/boardView.do/{boardSeq}(boardSeq=${board.boardSeq})}" th:text="${board.boardTitle}" ></a></td>
                  												                               
                                                        <td style="width:140px; text-align: center;">완료</td>
                                                        <td style="width:140px; text-align: center;">관리자</td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="width:140px; text-align: center;">광주AI사관학교</td>
                                                        <td style="width:140px; text-align:center;">2022-12-12</td>
                                                        <td style="width:140px; text-align: center;"><a href="dsadsa">답변 부탁드립니다.<a></td>
                                                        <td style="width:140px; text-align: center;">처리 중</td>
                                                        <td style="width:140px; text-align: center;">관리자</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--문의하기-->
                                <!--글들어올부분-->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="제목을 입력하세요.">문의하기</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="boardWrite.do">
                                                    <div class="mb-3">

                                                        <!--데이터 : 글제목 글내용-->
                                                        <label for="recipient-name" class="col-form-label">제목:</label>
                                                        <input type="text" name="boardTitle" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">내용:</label>
                                                        <textarea class="form-control" name="boardContents" id="message-text"
                                                            placeholder="내용을 입력하세요."></textarea>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">닫기</button>
                                                <button type="submit" class="btn btn-primary">문의하기</button>
                                            </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <!-- /.container-fluid -->


                        </div>
                    </div>
                    <!--동그란 아래부분-->
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 20px 20px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>
        const exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `문의하기`
            modalBodyInput.value = recipient
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>