<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>dashBoard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script>
        $(function () {
            var options = {
                //데이터 : 1~60분 동안의 시청자수, 조회수, 댓글수
                series: [{
                    name: '시청자',
                    data: [319, 40, 28, 51, 42, 109, 100]
                }, {
                    name: '장바구니수',
                    data: [14, 72, 52, 32, 34, 52, 41]
                }, {
                    name: '조회수',
                    data: [114, 372, 45, 32, 34, 512, 241]
                }],
                chart: {
                    height: 257,
                    type: 'area'
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    //데이터 : 1~60분 시간
                    categories: ["1", "10", "20", "30", "40", "50", "60"]
                }, fill: {
                    colors: ['#4E73DF', '#1CC88A', '#F6C23E']
                }, colors: ['#4E73DF', '#1CC88A', '#F6C23E']

            };
            var chart = new ApexCharts(document.querySelector("#chart_time_keyword"), options);
            chart.render();
        });
    </script>

    <!--성별-->
    <script>

        var options = {
            series: [44, 55],
            labels: ['남자', '여자'],
            chart: {
                type: 'donut',
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200,
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart_sex"), options);
        chart.render();
    </script>
    <!--키워드 별 감성점수-->
    <script>
        $(function () {
            var options = {
                //데이터 : 제품 카테고리 별 감성점수
                series: [{
                    name: '디자인',
                    data: [1, -1, 1, 1]
                }, {
                    name: '만족도',
                    data: [1, -1, 0, 1]
                }, {
                    name: '기능성',
                    data: [1, -1, -1, -1]
                }, {
                    name: '안정성',
                    data: [1, 1, 1, -1]
                }
                ],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        dataLabels: {
                            position: 'top',
                        },
                    }
                },

                dataLabels: {
                    enabled: true,
                    offsetX: -6,
                    style: {
                        fontSize: '12px',
                        colors: ['#fff']
                    }
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['#fff']
                },
                tooltip: {
                    shared: true,
                    intersect: false
                }, colors: ['#4E73DF', '#1CC88A', '#F6C23E', '#E74A3B'],
                xaxis: {
                    //데이터 : 제품명
                    //제품명에 비비앤다 그대로 노출되면 안될것같아서 일단 제품 1~n 식으로 진행 
                    categories: ['제품1', '제품2', '제품3', '제품4', '제품5'],
                },
            };
            var chart = new ApexCharts(document.querySelector("#chart_sense"), options);
            chart.render();
        });
    </script>
    <!--시청자 증감수 -->
    <script>
        $(function () {
            var options = {
                series: [{
                    //데이터 : 3분동안의 시청자 증감 수
                    data: [
                        {
                            x: 1,
                            y: [15, 15, 1, 1]
                        },
                        {
                            x: 2,
                            y: [15, 15, 1, 1]
                        }, {
                            x: 3,
                            y: [3, 3, 15, 15]
                        }, {
                            x: 4,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 5,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 6,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 7,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 8,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 9,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 10,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 11,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 12,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 13,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 14,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 15,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 16,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 17,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 18,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 19,
                            y: [30, 30, 15, 15]
                        }, {
                            x: 20,
                            y: [30, 30, 15, 15]
                        }]
                }],
                chart: {
                    type: 'candlestick',
                    height: 350
                },
                xaxis: {
                    type: 'time'
                },
                yaxis: {
                    tooltip: {
                        enabled: true
                    }
                },
                plotOptions: {
                    candlestick: {
                        colors: {
                            upward: '#E74A3B',
                            downward: '#008FFB'
                        }
                    }
                }
            };
            var chart = new ApexCharts(document.querySelector("#chart_viewer"), options);
            chart.render();
        })
    </script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <!--긍정 워드클라우드-->
    <script>
        anychart.onDocumentReady(function () {

            var data = [
                {
                    "x": "디자인",
                    "value": 362
                },
                {
                    "x": "아기",
                    "value": 332
                },
                {
                    "x": "매트",
                    "value": 252
                },
                {
                    "x": "구매",
                    "value": 250
                }, {
                    "x": "인견",
                    "value": 236
                }, {
                    "x": "여름",
                    "value": 200,
                }, {
                    "x": "만족",
                    "value": 197,
                }, {
                    "x": "땀흡수",
                    "value": 173,
                }, {
                    "x": "세탁",
                    "value": 158,
                }, {
                    "x": "배송",
                    "value": 152,
                }, {
                    "x": "시원",
                    "value": 122,
                }, {
                    "x": "감촉",
                    "value": 422,
                }, {
                    "x": "교환",
                    "value": 322,
                },


            ]
                ;
            var chart = anychart.tagCloud(data);
            chart.angles([0]);
            chart.container("container_posi");
            chart.normal().fontWeight(600);
            // chart.getCredits().setEnabled(false);
            chart.draw();

        });
    </script>

    <!--부정 워드클라우드-->
    <script>
        anychart.onDocumentReady(function () {
            var data = [
                {
                    "x": "배송",
                    "value": 662
                },
                {
                    "x": "세탁",
                    "value": 332
                },
                {
                    "x": "얇아",
                    "value": 252
                },
                {
                    "x": "느려",
                    "value": 450
                }, {
                    "x": "지연",
                    "value": 236
                },
                {
                    "x": "비싸",
                    "value": 280
                },
                {
                    "x": "너무",
                    "value": 140
                }, {
                    "x": "맨살",
                    "value": 120
                }, {
                    "x": "이미지",
                    "value": 40
                }, {
                    "x": "사이즈",
                    "value": 422,
                }, {
                    "x": "불량",
                    "value": 132,
                },
            ];
            var chart = anychart.tagCloud(data);
            chart.angles([0]);
            chart.container("container_nag");
            chart.normal().fontWeight(600);
            // chart.getCredits().setEnabled(false);
            chart.draw();
        });
    </script>

    <!--카테고리 판매 기여도-->
    <script>
        $(function () {
            var options = {
                //나온 값 *3해주세요
                //각 카테고리별 판매 기여도
                series: [60, 90, 48, 26],
                chart: {
                    height: 330,
                    type: 'radialBar',
                },
                plotOptions: {
                    radialBar: {
                        offsetY: 0,
                        startAngle: 0,
                        endAngle: 300,
                        hollow: {
                            margin: 2,
                            size: '20%',
                            background: 'transparent',
                            image: undefined,
                        },
                        dataLabels: {
                            name: {
                                show: false,
                            },
                            value: {
                                show: false,
                            }
                        }
                    }
                },
                colors: ['#0084ff', '#1CC88A', '#F7C548', '#E74A3B'],
                labels: ['디자인', '만족도', '안정성', '기능성'],
                legend: {
                    show: true,
                    floating: true,
                    fontSize: '10px',
                    position: 'left',
                    offsetX: 75,
                    offsetY: -8,
                    labels: {
                        useSeriesColors: true,
                    },
                    markers: {
                        size: 0
                    },
                    formatter: function (seriesName, opts) {
                        return seriesName + ":  " + opts.w.globals.series[opts.seriesIndex]
                    },
                    itemMargin: {
                        vertical: 3
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            show: false
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#chart_sales_level"), options);
            chart.render();

        })
    </script>

    <!--판매와 장바구니-->
    <script>
        $(function () {


            var options = {
                series: [
                    {
                        // 데이터 : 장바구니수, 판매량 
                        name: "장바구니수",
                        data: [29, 33, 36, 32, 32, 33, 20, 20, 40, 60]
                    },
                    {
                        name: "판매량",
                        data: [12, 11, 14, 18, 17, 13, 13, 40, 60, 69]
                    }
                ],
                chart: {

                    height: 300,
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        color: '#000',
                        top: 18,
                        left: 7,
                        blur: 10,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#00E396', '#008FFB'],
                dataLabels: {
                    enabled: true,
                },
                stroke: {
                    curve: 'smooth'
                },
                grid: {
                    borderColor: '#e7e7e7',
                    row: {
                        colors: ['#f3f3f3'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                markers: {
                    size: 1
                },
                xaxis: {
                    //데이터 : 1부터 60분까지
                    categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                },
                yaxis: {
                    //데이터 : 최대값 나온걸로 맞추면 될듯!
                    min: 0,
                    max: 69
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: true,
                    offsetY: -25,
                    offsetX: -5
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart_sale_view"), options);
            chart.render();


        })
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SSM <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Live-Commerce</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Support
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="boardList.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Contect</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                My page
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>About</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Logout</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" `>

            <!-- Main Content -->
            <div id="content" style="background-image: linear-gradient(-20deg, #4e4376 0%, #2b5876 100%);">
                <div class="container-fluid" style="padding-left: 1rem;
                padding-right: 1rem;">
                    <br>
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 20px 20px 0px 0px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>
                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding-left: 1rem;
                padding-right: 1rem;">
                    <div class="card" style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 0px 0px;overflow-x:hidden; width:100%; 
                        height:640px; border: 0px;">
                        <div>
                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>

                            </div>
                            <div class="container-fluid">
                                <!-- Content Row -->
                                <div class="row">

                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            총점 (Total score)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">4.0</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-star fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            총 판매 수량 (Total Sales Volume)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18개</div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-info shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                            실적률 (Performance)
                                                        </div>
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col-auto">
                                                                <div
                                                                    class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                                    50%
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="progress progress-sm mr-2">
                                                                    <div class="progress-bar bg-info" role="progressbar"
                                                                        style="width: 50%" aria-valuenow="50"
                                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-heart fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Pending Requests Card Example -->
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                            총 판매 금액 (total sales amount)</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign  fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Content Row -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">고객 이벤트</h1>
                                <p class="mb-4">&nbsp;방송 진행 시간대별 고객 이벤트 추이와 시청자의 성별을 확인합니다.</p>
    

                                <div class="row">

                                    <!-- Area Chart -->
                                    <div class="col-xl-8 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">시간대별 고객이벤트</h6>

                                            </div>
                                            <!-- Card Body -->

                                            <div class="card-body">

                                                <div id="keyword-reactions-chart">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Pie Chart -->
                                    <div class="col-xl-4 col-lg-5">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">시청자 성별</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div id="chart_sex"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">판매량과 장바구니수</h1>
                                <p class="mb-4">&nbsp;장바구니에 담긴 수 대비 판매량을 나타냅니다.</p>
    

                                <div class="row">

                                    <!-- Area Chart -->
                                    <div class="col-xl-8 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">판매량과 장바구니</h6>

                                            </div>
                                            <!-- Card Body -->

                                            <div class="card-body">

                                                <div id="chart_sale_view">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Pie Chart -->
                                    <div class="col-xl-4 col-lg-5">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">카테고리별 판매 기여도</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    </a>
                                                    <select style="max-width:200px;">
                                                        <option>포근포근 낮잠 이불</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div id="chart_sales_level"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">음성 키워드별 고객이벤트</h1>
                                <p class="mb-4">&nbsp;제품과 관련한 특정 키워드를 언급했을 때, 고객 이벤트 증가 값을 확인합니다. </p>
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">등장시간</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">키워드</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">카테고리</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">판매</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">장바구니</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">상품조회</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">시청자</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">댓글</th>
                                                        <th style="width:120px;text-align:center;background-color: #E8EFF4;">찜</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;">20:00</td>
                                                        <td style="text-align:center;">디자인</td>
                                                        <td style="text-align:center;">예쁜</td>
                                                        <td style="text-align:center;">61</td>
                                                        <td style="text-align:center;">201</td>
                                                        <td style="text-align:center;">800</td>
                                                        <td style="text-align:center;">34</td>
                                                        <td style="text-align:center;">3</td>
                                                        <td style="text-align:center;">32</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <!-- /.container-fluid -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <p class="mb-4">&nbsp;리뷰 등장한 키워드의 긍정과 부정점수 입니다.</p>
                                <div class="row">

                                    <!-- Pie Chart -->
                                    <div class="col-xl-4 col-lg-5">
                                        <div class="card shadow mb-4">

                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">키워드별 감성점수</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div id="chart_sense"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Area Chart -->
                                    <div class="col-xl-8 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">시청자 증감</h6>

                                            </div>
                                            <!-- Card Body -->

                                            <div class="card-body">

                                                <div id="chart_viewer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">워드 클라우드</h1>
                                <p class="mb-4">&nbsp;긍정, 부정리뷰에서 자주 등장하는 키워드를 한눈에 보여줍니다.</p>

                                <div class="row">

                                    <!-- 긍정리뷰 -->
                                    <div class="col-lg-6 mb-4">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">긍정리뷰 워드클라우드</h6>
                                            </div>
                                            <div class="card-body">
                                                <div id="container_posi"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-4">

                                        <!--부정리뷰-->
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">부정리뷰 워드클라우드</h6>
                                            </div>
                                            <div class="card-body">
                                                <div id="container_nag"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- Content Row -->
                        <div class="container-fluid">
                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">카테고리별 점수</h1>
                            <p class="mb-4">&nbsp;카테고리별 평균 별점과, 판매 기여도를 나타냅니다.</p>

                            <div class="row">

                                <!-- Content Column -->
                                <div class="col-lg-6 mb-4">

                                    <!-- Project Card Example -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">카테고리별 별점</h6>
                                        </div>
                                        <div class="card-body">
                                            <!--데이터 : 별점 평균 백분율로-->
                                            <h4 class="small font-weight-bold">디자인<span class="float-right">20%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                    style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small font-weight-bold">만족도 <span class="float-right">40%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-warning" role="progressbar"
                                                    style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small font-weight-bold">안정성<span class="float-right">60%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar" role="progressbar" style="width: 60%"
                                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <h4 class="small font-weight-bold">기능성<span class="float-right">80%</span>
                                            </h4>
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <!-- Approach -->
                                    <h1 class="h3 mb-2 text-gray-800">분석 결과</h1>
                                    <p class="mb-4">&nbsp;라이브커머스 제품판매 결과를 엑셀 보고서 형태로 출력합니다.</p>
                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-primary btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">보고서 출력하기</span>
                                    </a>
                                </div>

                                <div class="col-lg-6 mb-4">

                                    <!-- 분석결과 -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">분석결과</h6>
                                        </div>
                                        <div class="card-body" style="height:292px;">
                                            <div style="overflow-x:hidden; width:100%; height:250px;">
                                                <p>결과 리포트 부분sdfadfasdfsadfsadfdsfadsfaewaf임부분s
                                                    dfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsadfds
                                                    fadsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부분s
                                                    dfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsadf
                                                    dsfadsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부
                                                    분sdfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfs
                                                    adfdsfadsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부
                                                    분sdfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsa
                                                    fdsfadsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부분
                                                    sdfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsadfdsf
                                                    adsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부분sdfad
                                                    fasdfsadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsadfdsfadsf
                                                    aewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf임부분sdfadfasdf
                                                    sadfsadfdsfadsfaewaf임부분sdfadfasdfsadfsadfdsfadsfaewaf
                                                    임부분sdfadfasdfsadfsadfdsfadsfaewaf임</p>
                                                <p class="mb-0">결과 리포트 부분임</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 20px 20px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    


</body>

</html>