<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>방송 리스트</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/list.css" rel="stylesheet"> 
    
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        ; $(function () {
            $('#sidebarToggle').trigger('click');
            $('#sidebarToggle').css({ 'display': 'none' });
        });

    </script>
    <script th:inline="javascript">
    	function loadDashboard(bcSeq){    		
    		var url = '/loadingDashboard.do/' +bcSeq;
    		var width=1400, height=700;
    		var left = (screen.availWidth - width)/2;
    		var top = (screen.availHeight - height)/2;
    		var specs = "width=" + width;
    		specs += ",height=" + height;
    		specs += ",left=" + left;
    		specs += ",top=" + top;
    		
    		window.open(url, '_blank', specs);
    	}
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SSM <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Live-Commerce</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Support
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="boardList.do">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Contect</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                My page
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>About</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Logout</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" `>

            <!-- Main Content -->
            <div id="content" style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">
                <div class="container-fluid" style="padding-left: 3rem;
                padding-right: 3rem;">
                    <br>
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 20px 20px 0px 0px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding-left: 3rem;
                padding-right: 3rem;">
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 0px 0px;overflow-x:hidden; width:100%; height:640px; border: 0px;">
                        <div>

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800"></h1>

                            </div>
                    <div class="container-fluid">
                            <div class="row">
								<th:block th:each="bc : ${bcList}" th:object="${bc}">
                                <!-- 제목, 방송 이미지, 상세보기 div -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        <span th:text=*{bcTitle}></span></div>
                                                        <div class="row no-gutters align-items-center">
                                                        </div><img th:src="@{/img/} + *{bcTitle} + @{.png}" style="width:255px;height: 400px;"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="my-2";></div>
                                    <!--  <a th:href="@{/loadingDashboard.do/{bcSeq}(bcSeq=*{bcSeq})}" class="btn btn-primary btn-icon-split"style="width:100%;">
                                        <span th:text="상세보기" class="text"></span>
                                    </a> -->
                                    <a th:id="*{bcSeq}" th:onclick="loadDashboard(this.getAttribute('id'))" class="btn btn-primary btn-icon-split"style="width:100%;">
                                        <span th:text="상세보기" class="text"></span>
                                    </a>
                                    <!-- <a th:id="*{bcSeq}" th:onclick="loadDashboard(this.getAttribute('id'))">클릭</a>  -->
                                </div>
        						</th:block>
        						
                                
        						<!-- 제목, 내용, 상세보기 -->
                                <!-- Pending Requests Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center"> 
                                            </div>
                                            <img src="./img/업로드.png" style="width: 100%; height: 400px;margin-top:40px;">
                                        </div>
                                    </div>
                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-warning btn-icon-split"style="width:100%;">
                                        <span class="text">Upload</span>
                                    </a>

                                </div>
                            </div></div>
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <div class="card"
                        style="background-color: rgba(255, 255, 255, 0.887);border-radius: 0px 0px 20px 20px; border: 0px solid white;">
                        <div style="overflow-x:hidden; width:100%; height:30px;">
                        </div>
                    </div>
                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>