<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/login.css"rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="move">
    </div>
    <div class="welcome">
      <h4 class="bold welcome-text">Welcome Back! SSM</h4><br>
      <p class="normal text">라이브커머스 <br>인사이트 리포트 서비스<br>지금 바로 시작해보세요!</p>
    </div>
    <div class="hello">
      <h4 class="bold welcome-text">Hello Friend</h4>
      <p class="normal text">Enter your personal details and start journey with us</p>
    </div>
    <div class="form">
      <br>
      <h4 class="bold title">LOGIN</h4>
      <p class="normal light">Please log in to use the service.</p>
      <br> 
      <form action="/login.do" method="post">
	      <input type="text" placeholder="ID" class="normal" name="userId" id="userId">
	      <br/>
	      <input type="password" placeholder="Password" class="normal" name="userPw" id="userPw"><br>
	      <p class="normal forgot">Forgot your password?</p>
	      <br>
	      <br>
	      <button class="b-button normal"type="submit" onclick="location.href='/login.do'">Login</button>
      </form>
    </div>
  </div>
</body>
</html>