<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3;/loginpage.do">
  <title>Intro</title>
  <link href="." rel="stylesheet">
  <link href="/css/main.css.map" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <!--스크립트-->
  <script>
    var listHTML = $(".Title").html();
    var listItems = listHTML.split("<br>");
    $(".Title").html("");
    $.each(listItems, function (i, v) {
      var item =
        '<div class="Title-mask"><span class="Title-line">' + v + "</span></div>";
      $(".Title").append(item);
    });
  </script>
</head>

<body>
  <h1 data-linecount="3" class="Title">smart<br>sales<br>manager<span class="Title-cursive"></span><span
      class="Title-dot">&nbsp;SSM.</span></h1>
</body>

</html>